@model IEnumerable<NorthwindMVC.Customer>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="CustomerAdd">Add New</a>
</p>
<table class="table">
    <thead style="background-color:#D4E3F5">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a asp-action="CustomerEdit" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-action="CustomerDelete" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
