@model IEnumerable<NorthwindMVC.Employee>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="EmployeeAdd">Add New</a>
</p>
<table class="table">
    <thead style="background-color:#D4E3F5">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="EmployeeEdit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-action="EmployeeDelete" asp-route-id="@item.EmployeeId">Delete</a> 
            </td>
        </tr>
}
    </tbody>
</table>
